# Bytecoded form
*.pyc
__pycache__

# Eclipse / PyCharm
.settings
.idea
.project
.pydevproject

# VS Code
.vscode
.cache
.*_cache

# Tox
.tox/
.coverage
.coverage.*
htmlcov/

# Nosetests
.noseids
nosetests.xml

# Development environment
.venv/
venv*/

# When installed in develop mode
*.egg-info/

# setup.py folders
build/*
dist/*
*.egg-info/

# uv lock file
uv.lock
